.title {
    background-color: rgb(138, 138, 241);
    text-align: center;
    height: 130px;
    border-style: ridge;
    border-width: 20px;
    border-color:aquamarine;
}


.balls {
  border-bottom: 6px solid black;
  height: 40px;
}

.link {
   color: blueviolet;
}

.link:visited {
    color: lightseagreen;
}

.link:active {
    color: lightseagreen;
}

.link:hover {
    color: darkblue;
}